*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: auto;
    line-height: 24px;
}
h1{
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    margin: 30px;
}
.section-1{
    color: green;
    font-size: 14px;
    padding: 2px 2px;
    border: 1px solid powderblue;
    border-radius: 2px;
    margin: 60px 40px 20px 20px;
    font-weight: 600;
}
.section-2 {
    color: red;
    border: 2px solid honeydew;
    border-radius: 2px;
    padding: 3px 3px;
    margin: 10px 30px 20px 30px ;
    font-size: 14px;
    font-weight: 500;
}
.section-3 {
    color: blue;
    border: 2px groove darkmagenta;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 10px 50px 10px 20px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
}
